<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293997197792-p88hbejalq4kmqq87jlmu294rbalmj0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293997197792-p88hbejalq4kmqq87jlmu294rbalmj0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDzZRzXpHv-AaxI1HMLp4yskwsD9-wFNUo</string>
	<key>GCM_SENDER_ID</key>
	<string>293997197792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safira.golaundry</string>
	<key>PROJECT_ID</key>
	<string>golaundry-application</string>
	<key>STORAGE_BUCKET</key>
	<string>golaundry-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293997197792:ios:f50fb672ab1717628d9385</string>
	<key>DATABASE_URL</key>
	<string>https://golaundry-application-default-rtdb.firebaseio.com</string>
</dict>
</plist>